@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

/* Apply Oswald font to the entire page */
body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
}

/* Example usage for headings */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/* Example usage for paragraphs */
p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
